@import 'grid.less';
@import 'rhythm.less';

@debug: 0;

// LARGE GRID //

// Target a total composition width of 36em,
// with column and gutter in golden section.

@columns: 8;
@column-width: 3.7082em;
@gutter-width: 2.2918em;

// Give thee divine proportions instead of pixels!
@total-width: 100%;

// LAYOUT //

body {
  width: @gridsystem-width;
  margin: auto;
  margin-top: 2.5em;
}
// LAYOUT //

body {
  width: @gridsystem-width;
  margin: auto;
  margin-top: 2.5em;
}

#links {
  .row;
  & li {
    .column(3);
    &:last-child {
      .column(2);
      text-align: right;
    }
  }
}

header {
  .row;
}

header>* {
  .column(5);
  .push(3);
  vertical-align: middle;
}

section {
  .row();
}

section>*:not(section) {
  .column(5);
  .push(3);
}

section>.accomplishments {
  .push(0);
}

.company>.value {
  .column(@columns);
}

.job>.value {
  .column(3);
}

h5, .date_range { display: block; }

// DESIGN //

.huge, h1 {
  .lead(1.875em, 2em);
}

.large, h2 {
  .lead(1.75em, 2em);
}

h3 {
  .lead(1.5em);
  padding-top: 1em;
  padding-bottom: 1em;
}

header address {
  .lead(1em, 1.625em);
}

.company>.value {
  text-align: justify;
}

.value {
  text-align: right;
  &:empty {
    &:before {
      content: "\00A0";
      display: block;
    }
  }
}

.date_range {
  &:before {
    content: "";
  }
}

main ul, ol {
  padding-left: 0;
}

@media screen {
  body {
    @media (min-width: 61.5em) {
      .lead(1.125em);
    }
    @media (min-width: 75em) {
      .lead(1.25em);
    }
    @media (min-width: 87em) {
      .lead(1.325em);
      max-width: 105em;
    }
  }
}
