@import 'grid.less';
@import 'rhythm.less';

@debug: 0;

// MEDIUM GRID //

// Target a total composition width of 36em,
// with column and gutter in golden section.

@columns: 6;
@column-width: 3.7082em;
@gutter-width: 2.2918em;

@total-width: 100%;

// LAYOUT //

body {
  width: @gridsystem-width;
  margin: auto;
  margin-top: 2.5em;
}

#links {
  .row;
  & li {
    .column(2);
    &:last-child {
      text-align: right;
    }
  }
}

header {
  .row;
}

header>* {
  .column(4);
  .push(2);
  vertical-align: middle;
}

section {
  .row();
}

section>*:not(section) {
  .column(4);
  .push(2);
}

section>.accomplishments {
  .push(0);
}

.company>.value {
  .column(@columns);
}

.job>.value {
  .column(2);
}

h5, .date_range { display: block; }

// DESIGN //

.huge, h1 {
  .lead(1.5em, 1.875em);
}

.large, h2 {
  .lead(1.25em, 1.875em);
}

header address {
  .lead(1em, 1.625em);
}

.company>.value {
  text-align: justify;
}

.value {
  text-align: right;
  &:empty {
    &:before {
      content: "\00A0";
      display: block;
    }
  }
}

.date_range {
  &:before {
    content: "";
  }
}

main ul, ol {
  padding-left: 0;
}

@media screen {
  body {
    @media (min-width: 40em) {
      .lead(1.2em);
    }
    @media (min-width: 45em) {
      .lead(1.25em);
    }
    @media (min-width: 55.5em) {
      .lead(1.325em);
    }
  }
}
