@serif-font-family: 'Cormorant', serif;
@smallcaps-font-family: 'CormorantSC', serif;
@slab-font-family:  'Aleo', serif;
@sans-font-family:  'Lato', sans-serif;

body {
  color: #656b6f;
  background-color: rgb(244, 241, 231, 1);
  font-family: @slab-font-family;
}

nav #links {
  font-family: @serif-font-family;
  font-style: italic;
  color: #9e9e95;
  font-size: .875em;
  & a {
    color: #9e9e95;
  }
}

h1 {
  color: #253043;
  font-family: @sans-font-family;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.125em;
}

h2 {
   color: #5578af;
   font-family: @sans-font-family;
   font-weight: 700;
}

h3 {
  color: #a4684c;
  font-family: @smallcaps-font-family;
  text-transform: lowercase;
  letter-spacing: 0.125em;
}

h4 {
  color: #656b6f;
  font-family: @sans-font-family;
  text-transform: uppercase;
}

h5 {
  color: #5578af;
  font-family: @sans-font-family;
}

address {
  font-family: @serif-font-family;
  font-style: italic;
  font-weight: 500;
}

a {
  color: #5578af;
  text-decoration: none;
}

#quote {
  color: #8c6093;
}

.company {
  .value {
    font-family: @serif-font-family;
    font-style: italic;
    font-size: .875em;
    font-weight: 500;
    color: #9e9e95;
  }
}

.date_range {
  color: #9e9e95;
  font-family: @sans-font-family;
  font-size: .875em;
}

@font-face {
  font-family: "CormorantSC";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src:
    url("../fonts/CormorantSC-SemiBold.woff") format("woff"),
    url("../fonts/CormorantSC-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 500;
  font-display: block;
  src:
    url("../fonts/Cormorant-MediumItalic.woff2") format("woff2"),
    url("../fonts/Cormorant-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 500;
  font-display: block;
  src:
    url("../fonts/Cormorant-Regular.woff") format("woff")
    url("../fonts/Cormorant-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src:
    url("../fonts/Cormorant-Medium.woff") format("woff"),
    url("../fonts/Cormorant-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src:
    url("../fonts/Aleo-Bold.woff") format("woff"),
    url("../fonts/Aleo-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src:
    url("../fonts/Aleo-BoldItalic.woff") format("woff"),
    url("../fonts/Aleo-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    url("../fonts/Aleo-Regular.woff") format("woff"),
    url("../fonts/Aleo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src:
    url("../fonts/Aleo-Italic.woff") format("woff"),
    url("../fonts/Aleo-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src:
    url("../fonts/LatoLatin-Bold.woff") format("woff"),
    url("../fonts/LatoLatin-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src:
    url("../fonts/LatoLatin-Heavy.woff") format("woff"),
    url("../fonts/LatoLatin-Heavy.woff2") format("woff2");
}
