<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="revised" content="<%= date %>"/>
    <title>Clayton Hynfield</title>
    <script src="https://use.fontawesome.com/c66cd0da56.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- build:css styles/global.css media="print, screen" -->
    <link rel="stylesheet" type="text/css"  media="screen" href="styles/global.css">
    <link rel="stylesheet" type="text/less" media="screen" href="styles/personal.less">
    <link rel="stylesheet" type="text/less" media="screen" href="styles/small.less">
    <!-- endbuild -->
    <!-- build:css styles/medium.css media="only screen and (min-width: 40em)" -->
    <link rel="stylesheet" type="text/less" media="only screen and (min-width: 40em)" href="styles/medium.less">
    <!-- endbuild -->
    <!-- build:css styles/large.css media="only screen and (min-width: 61.5em)" -->
    <link rel="stylesheet" type="text/less" media="only screen and (min-width: 61.5em)" href="styles/large.less">
    <!-- endbuild -->
    <!-- build:css styles/print.css media="print" -->
    <link rel="stylesheet" type="text/less" media="print" href="styles/print.less">
    <!-- endbuild -->
  </head>
  <body lang="en">
    <nav>
        <ul id="links">
          <li><a href="https://clayton.hynfield.org/"><i class="fa fa-chevron-left"></i> Home page</a></li>
          <li><a href="./ClaytonHynfield.pdf"><i class="fa fa-download"></i> Download PDF</a></li>
          <li><a href="https://gitlab.com/clhynfield/resume"><i class="fa fa-code-fork"></i> Source</a></li>
        </ul>
    </nav>
    <header>
      <h1>Clayton Hynfield</h1>
      <h2>Software Transformation Leader</h2>
      <address>Cincinnati, Ohio</address>
      <!-- div id="headshot">
        <figure>
          <img src="images/clayton.jpg">
        </figure>
      </div -->
      <!-- div id="quote">
        <p>"No matter where you go, there you are."</p>
      </div -->
    </header>
    <main>
      <section id="experience">
        <h3>Experience</h3>
        <section class="company">
          <h4>VMware, Inc</h4>
          <p class="value"><a href="https://vmware.com">VMware</a> streamlines the journey for organizations to become digital businesses that deliver better experiences to their customers and empower employees to do their best work. Our software spans App Modernization, Cloud, Networking & Security and Digital Workspace.</p>
          <section class="job">
            <div>
              <h5>Manager, Solutions Architecture</h5>
              <p class="date_range"><time datetime="2020-01">Jan, 2020</time> &ndash; <time datetime="Z">Present</time></p>
            </div>
            <p class="value">&nbsp;</p>
            <ul class="accomplishments">
              <li>Built and developed a highly diverse team of platform reliability engineers and platform product managers, with a focus on promoting key underrepresented talent. See my talk <a href="https://youtu.be/IT1qbLtm1u8">A Crisis of Diversity and Inclusion in DevOps</a> for more.</li>
              <li>Co-authored the <a href="https://via.vmw.com/VTLn">VMware Tanzu Labs foundational principles</a>. Led the integration of VMware, Heptio, and Pivotal Labs practices in the platform domain through extensive practitioner research, analysis through the lens of the principles, and synthesis of new practice.</li>
              <li>Ensured the success of platform modernization engagements spanning the full lifecycle of the cloud journey, from first small-scale deployments through upgrading and expanding some of North America's most critical infrastructure.</li>
            </ul>
          </section>
        </section>
        <section class="company">
          <h4>Pivotal Software, Inc</h4>
          <p class="value">Pivotal used its cloud-native platform, developer tools, and unique methodology to help the world’s largest companies transform the way they build and run their most important software.</p>
          <section class="job">
            <div>
              <h5>Advisory Solutions Architect</h5>
              <p class="date_range"><time datetime="2017-09">Sep, 2017</time> &ndash; <time datetime="2019-12">Dec, 2019</time></p>
            </div>
            <p class="value">Transformed traditional Infrastructure & Operations silos into balanced platform product teams at the world’s largest and most influential organizations.</p>
            <ul class="accomplishments">
              <li>Established the primary app container platforms and platform team practices at several of the largest banks, insurers, power companies, and services companies in North America.</li>
              <li>Developed a thriving Platform-as-Product consulting practice, aligning  practices from Extreme Programming, Site Reliability Engineering, Lean Product Management, and User-Centered Design with core values</li>
            </ul>
          </section>
        </section>
        <section class="company">
          <h4>The Kroger Co.</h4>
          <p class="value">One of the world's largest grocery retailers, The Kroger Co. spans many states with store formats that include grocery and multi-department stores, discount, convenience stores and jewelry stores, with annual sales of over $100 billion.</p>
          <section class="job">
            <div>
              <h5>Platform Architect</h5>
              <p class="date_range"><time datetime="2016-10">Oct, 2016</time> &ndash; <time datetime="2017-09">Sep, 2017</time></p>
            </div>
            <p class="value">Fostered ever-faster innovation while maintaining the infrastructure behind kroger.com and The Kroger Co. mobile apps</p>
            <ul class="accomplishments">
              <li>Automated the provisioning and regression testing of Pivotal Cloud Foundry platforms.</li>
              <li>Helped facilitate a lean platform DevOps dojo, delivering MVPs for platform monitoring, app log and metrics aggregation and analysis.</li>
            </ul>
          </section>
        </section>
        <section class="company">
          <h4>Liberty Mutual Insurance</h4>
          <p class="value">A diversified global insurer and the third largest property and casualty insurer in the United States, Liberty Mutual Group ranks 78th on the Fortune 500 list of largest U.S. corporations.  With an annual consolidated revenue of $33.2 billion, the Group has over 50,000 employees located in more than 900 offices throughout the world.</p>
          <section class="job">
            <div>
              <h5>Principal Platform Engineer</h5>
              <p class="date_range"><time datetime="2015-01">Jan, 2015</time> &ndash; <time datetime="2016-09">Sep, 2016</time></p>
            </div>
            <p class="value">Led technological, organizational, and cultural transformation of a Fortune 100 financial corporation</p>
            <ul class="accomplishments">
              <li>Led a balanced DevOps product team in building and running a global, multi-region PaaS using <a href="https://pivotal.io/liberty-mutual" title="Liberty Mutual | Customers | Pivotal">Pivotal Cloud Foundry</a> on vSphere and AWS IaaS, custom components for platform operations and integrations, and advanced IaaS features like AWS Lambda and CloudFormation, in support of all lines of business including new $20bn lean startup-model business line.</li>
              <li>Led the platform team in identifying release- and sprint-level value metrics and measuring delivery against commitments, allowing the team to iterate or pivot to business value.</li>
              <li>Championed pair development and ops, <a href="http://thght.works/1VTxXB4" title="Inverse Conway Maneuver | Technology Radar | ThoughtWorks">Inverse Conway Maneuver</a> building cross-functional skill sets and raising <a href="http://bit.ly/2jc8Lpe" title="What&apos;s Your Start-up&apos;s &quot;Bus Count&quot;? 7 Myths of Entrepreneurship and Programming">bus count</a>.</li>
            </ul>
          </section>
          <section class="job">
            <div>
              <h5>Principal Systems Administrator</h5>
              <p class="date_range"><time>2012</time> &ndash; <time>2014</time></p>
            </div>
            <p class="value">Saved est. $4.6M in hardware and software costs over six years</p>
            <ul class="accomplishments">
              <li>Recommended, designed, and led the deployment of enterprise WebSphere integrated platform.</li>
            </ul>
          </section>
          <section class="job">
            <div>
              <h5>Senior Systems Administrator</h5>
              <p class="date_range"><time>2008</time> &ndash; <time>2012</time></p>
            </div>
            <p class="value">Saved est. $80K in labor annually and shortened upgrade cycles by 75%</p>
            <ul class="accomplishments">
              <li>Designed, developed, and led delivery of rapidly deployable JEE platform service, including instance life cycle management.</li>
            </ul>
          </section>
        </section>
      </section>
    </main>
    <section id="education">
      <h3>Education</h3>
      <section class="institution">
        <h4>Miami University</h4>
          <div>
            <h5>BA, Philosophy</h5>
          </div>
          <div>
            <h5>BS, Engineering Physics</h5>
          </div>
      </section>
    </section>
    <section id="skills">
      <h3>Skills</h3>
      <section class="skill_category">
        <h4>Leadership Methods</h4>
        <ul>
          <li>Objectives and Key Results</li>
          <li>Organization design, Inverse Conway Maneuver</li>
        </ul>
      </section>
      <section class="skill_category">
        <h4>Software Delivery Methods</h4>
        <ul>
          <li>Lean Startup Product Management</li>
          <li>Extreme Programming, Scrum, Kanban</li>
          <li>Continuous Delivery, DevOps</li>
          <li>Site Reliability Engineering (SRE), Antifragility, Chaos Engineering</li>
        </ul>
      </section>
      <section class="skill_category">
        <h4>Cloud Technologies</h4>
        <ul>
          <li>Certified Kubernetes Application Developer (in progress)</li>
          <li>Certified Kubernetes Administrator (in progress)</li>
          <li>Cloud Foundry, BOSH</li>
          <li>Comfortable working with Amazon Web Services, Google Cloud Platform, and Microsoft Azure</li>
        </ul>
      </section>
      <section class="skill_category">
        <h4>Languages, Systems, and Tools</h4>
        <ul>
          <li>
            <a href="http://bit.ly/2iW7l4p" title="Ruby badges - Mozilla Backpack">Ruby/Rails</a>,
            <a href="http://bit.ly/2jcbjDH" title="JavaScript badges - Mozilla Backpack">JavaScript</a>, Go, Java/Spring, Perl, Python
          </li>
          <li>MySQL, MongoDB, Redis</li>
          <li>
            <a href="http://bit.ly/2jrIHY0" title="Git badges - Mozilla Backpack">Git</a>,
            Bamboo, TeamCity, TravisCI
          </li>
          <li>Docker, Vagrant</li>
        </ul>
      </section>
    </section>
    <!-- build:remove -->
    <script src="vendor/less/less-3.13.1.min.js" type="text/javascript"></script>
    <!-- endbuild -->
  </body>
</html>
