@import 'grid.less';
@import 'rhythm.less';

// MEDIUM GRID //

// Target a total composition width of 36em,
// with column and gutter in golden section.

@columns: 6;
@column-width: 3.7082em;
@gutter-width: 2.2918em;

@total-width: 100%;

// LAYOUT //

body {
  width: 90%;
  margin: auto;
  margin-top: 1em;
}

#intro {
  margin-bottom: 1em;

  header {
    #bio {
      .column(4, 6);
      .push(2);
      h1, h2, address {
          .debug_border;
          vertical-align: middle;
        }
        address {
          line-height: 2.25em;

        }
    }
    #quote {
      .column(4);
      .push(2);
    }
  }
}

main {
  h3 {
    .column(4);
    .push(2);
  }
}

main {
  .company {
    margin-bottom: 0.825em;
    h4 {
      .column(4);
      .push(2);
    }
    .job {
      .clearfix;
      h5, .date_range, .accomplishments {
        .column(4);
        .push(2);
      }
      .accomplishments {
        .column(4);
      }
      .value {
        .column(2);
        text-align: right;
      }
    }
  }
}


// DESIGN //

.huge, h1 {
  .lead(1.625em);
}

.large, h2 {
  .lead(1.625em);
}

#bio address {
  .lead(1em, 1.625em);
}

.job .date_range {
  &:before {
    content: "";
  }
}

main ul, ol {
  padding-left: 0;
}

main li {
  list-style: inside;
  text-indent: -1em;
}

@media screen and (min-width: 40em) {
  body {
    .lead(1em);
  }
}

@media screen and (min-width: 45em) {
  body {
    .lead(1.125em);
  }
}

@media screen and (min-width: 55.5em) {
  body {
    .lead(1.25em);
  }
}
