@import 'grid.less';

@debug: 1;

// MEDIUM GRID //

// For our medium grid we use only 6 columns total and active
// to maximize screen real estate and to give us exactly half of our large sized grid
// Leverage the golden means and the rule of thirds here as well with column widths divisible by 3;)
@column-width: 4em;
@gutter-width: 3em;
@columns: 6;

// Give us divine proportions instead of pixels
@total-width: 100%;

// LAYOUT //

.container {
  width: 92%;
  margin: auto;
  margin-top: 1em;
}

#intro {
    .column(6);
	margin-bottom: 1em;
	
	header {
		.row;
		#bio {
			.column(4, 6);
			.push(2);
			h1, h2, address {
		      .debug_border;
		      vertical-align: middle;
		    }
		    address {
		      line-height: 2.25em;
		      
    		}
		}
		#quote {
			.column(4);
			.push(2);
		}
	}
}

#main {
	.subhead {
		.title {
			.column(4);
			.push(2);
		}	
	}
}

#main {
  .job {
    .row;
    margin-bottom: 0.825em;
    .company {
      .column(4);
      .push(2);
    }
    .summary {
      .clearfix;
      .title, .date_range, .accomplishments {
        .column(4);
        .push(2);
      }
      .accomplishments {
        .column(4);
      }
      .value {
        .column(2);
        text-align: right;
      }		
    }		
  }
}


// DESIGN //

.huge, h1 {
  font-size: 1.625em;
  line-height: 1.3846153846153846em;
}

@media screen and (min-width: 40em) {
  body {
    font-size: 1em;
  }
}

@media screen and (min-width: 45em) {
  body {
    font-size: 1em;
  }
}

@media screen and (min-width: 55.5em) {
  body {
    font-size: 1.0625em;
  }
}

// DEBUG //

.debug_border {
  background-color: hsla(271, .15, 95%, 50%*@debug);
  border: @debug*.5px dotted black;
}

.debug_block {
  display: block;
}

#main {
  .job {
    .summary {
      .value, .title, .date_range, .accomplishments {
        .debug_border;
      }
      .value::after {
        content: 5px*@debug;
      }
    }
  }
  .debug {
    .row;
    .debug_col {
      .column(1);
      .debug_border;
    }
  }
}

