@import 'grid.less';
@import 'rhythm.less';

@debug: 1;

// MEDIUM GRID //

// Target a total composition width of 36em, 
// with column and gutter in golden section.

@columns: 6;
@column-width: 3.7082em;
@gutter-width: 2.2918em;

@total-width: 100%;

// LAYOUT //

.container {
  width: 90%;
  margin: auto;
  margin-top: 1em;
}

#intro {
    .row;
	margin-bottom: 1em;
	
	header {
		.row;
		#bio {
			.column(4, 6);
			.push(2);
			h1, h2, address {
		      .debug_border;
		      vertical-align: middle;
		    }
		    address {
		      line-height: 2.25em;
		      
    		}
		}
		#quote {
			.column(4);
			.push(2);
		}
	}
}

#main {
  .row;
	.subhead {
	  .row;
		.title {
			.column(4);
			.push(2);
		}	
	}
}

#main {
  .job {
    .row;
    margin-bottom: 0.825em;
    .company {
      .column(4);
      .push(2);
    }
    .summary {
      .clearfix;
      .title, .date_range, .accomplishments {
        .column(4);
        .push(2);
      }
      .accomplishments {
        .column(4);
      }
      .value {
        .column(2);
        text-align: right;
      }		
    }		
  }
}


// DESIGN //

.huge, h1 {
  .lead(1.625em);
}

.large, h2 {
  .lead(1.625em);
}

#bio address {
  .lead(1em, 1.625em);
}

@media screen and (min-width: 40em) {
  body {
    .lead(1em);
  }
}

@media screen and (min-width: 45em) {
  body {
    .lead(1.125em);
  }
}

@media screen and (min-width: 55.5em) {
  body {
    .lead(1.25em);
  }
}
