@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-variant: small-caps;
  src: local('EB Garamond'), local('EBGaramond'), url(../fonts/EBGaramondSC12-Regular.woff) format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-variant: all-small-caps;
  src: local('EB Garamond'), local('EBGaramond'), url(../fonts/EBGaramond12-AllSC.woff) format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  src: local('EB Garamond'), local('EBGaramond'), url(../fonts/EBGaramond12-Italic.woff) format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-variant: common-ligatures discretionary-ligatures historical-ligatures contextual;
  src: local('EB Garamond'), local('EBGaramond'), url(../fonts/EBGaramond12-Regular.woff) format('woff');
}

body {
  color: #656b6f;
  background-color: #eae2c9;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
  color: #253043;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.125em;
}

h2 {
   color: #5578af;
}

h3 {
  color: #a4684c;
  font-family: 'EB Garamond', serif;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.125em;
  font-size: 1.25em;
  line-height: 1.5em;
}

h5 {
  text-transform: uppercase;
  font-variant: small-caps;
}

address {
  font-family: 'EB Garamond', serif;
  font-style: italic;
}

#quote {
  color: #8c6093;
}

.job {
  .company h5 {
    color: #656b6f;
  }
  .title {
    color: #5578af;
  }
  .value {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 1em
  }
}

.job .separator, .date_range {
  color: #9e9e95;
}

.date_range {
  font-size: .875em;
}
