@import 'grid.less';
@import 'rhythm.less';

@debug: 0;

// GRID //

// For our small grid we use only 3 columns total and active
// to maximize screen real estate and to give us exactly half of our medium sized grid
@column-width: 307;
@gutter-width: 13;
@columns: 3;

// Give us divine proportions instead of pixels
@total-width: 100%;

// LAYOUT //

.container {
  width: 90%;
  margin: auto;
  padding-top: 0.375em;
}

#headshot {
  display: none;
}


#intro {
  .row;
  header {
    .row;
    #bio {
      .column(@columns);
    }
    #quote {
      .column(@columns);
    }
  }
}

#main {
  .row;
  .subhead {
    .row;
    .title {
      .column(@columns);
    }
  }
  .job {
    .row;
    .company {
      .column(@columns);
    }
    .summary {
      .clearfix;
      .accomplishments {
        .column(@columns);
      }
      .accomplishments {
        .column(@columns);
      }
      .value {
        .column(@columns);
      }
    }
  }
}

// DESIGN //

h1 {
  .lead(1.5em);
}

h2 {
  .lead(1.5em);
}

h3 {
  .lead(1em, 1.5em);
}

h4 {
  .lead(1.25em);
}

#bio address {
  .lead(1em, 1.5em);
}

#quote p {
  .lead(0.875em);
}
